# Python
__pycache__/

# Distribution / packaging
build/
dist/

# Unit test / coverage reports
.coverage
coverage.xml
junit.xml
.pytest_cache/
.mypy_cache/
.ruff_cache
.pdm-build

# Sphinx documentation
docs/_build/
docs/source/_build

# Environments
.venv

# IDE
.vscode*

# Others
.DS_Store
