[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]

[dev-packages]
boto3 = "*"
flake8 = "*"
moto = "*"
mypy = "*"
pydocstyle = "*"
pytest = "*"
pytest-cov = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
twine = "*"
ujson = "*"

[requires]
python_version = "3.8"
