[tool.poetry]
name = "aws-s3-tools"
version = "0.2.3"
description = "AWS S3 tools package"
authors = ["Daniel Ferrari"]
maintainers = ["Daniel Ferrari, Carlos Alves, Tomás Osório"]
license = "MIT"

readme = "README.md"

packages = [
    { include = "s3_tools" }
]

homepage = "https://github.com/dlite-tools/aws-s3-tools"
repository = "https://github.com/dlite-tools/aws-s3-tools"
documentation = "https://aws-s3-tools.readthedocs.io/en/latest/index.html"

keywords = ["aws", "s3", "tools", "package"]

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "License :: Freely Distributable",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Utilities"
]

[tool.poetry.dependencies]
python = "^3.7"

boto3 = "^1"
ujson = "^5"
rich = {version = "^11", optional = true}
types-ujson = "^4"

[tool.poetry.extras]
progress = ["rich"]

[tool.poetry.dev-dependencies]
flake8 = "^4"
moto = "^3"
mypy = "^0"
pydocstyle = "^6"
pytest = "^6"
pytest-cov = "^3"
toml = "^0"
sphinx-rtd-theme = "^0"
sphinx = "^3"
requests = "^2"
types-requests = "^2"

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.aws-s3-tools]
copyright = "2021, Daniel Ferrari"
